<!DOCTYPE html>
<html lang="ko">
<head>
    <title>{% block title %}Django Web Programming {% endblock %}</title>

{% load staticfiles %}
<link rel = "stylesheet" type="text/css" href="{% static "css/base.css" %}" />
<link rel = "stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}" />
</head>
<body>

<div id = "header">
    <h2 class = "maintitle">과즙나연의 팬카페</h2>
    <h4 class = "welcome">Welcome, <a href="#">Gyu</a> /
        <a href="#">Change Password</a> /
        <a href="#">Logout</a>
    </h4>
</div>

<div id="menu">
    <li><a href="{% url 'home' %}">메인화면</a></li>
    <li><a href="{% url 'bookmark:index' %}">팬카페(bookmark)</a></li>
    <li><a href="{% url 'blog:index' %}">나연의 프로필(blog)</a></li>
    <li><a href="#">나연의 사진(미구현)</a></li>
    <li><a href="{% url 'blog:post_archive' %}">최신글(archive)</a></li>
    <li><a href="{% url 'blog:search' %}">검색</a></li>
    <li><a href="{% url 'admin:index' %}">사이트 관리</a></li>
</div>
{% block content %}{% endblock %}

{% block footer %}{% endblock %}

</body>
</html>